html, body, p, a, h1, h2, h3 {
    font-family: 'Permanent Marker', cursive;
    padding: 0px;
    border: 0px;
    margin: 0px;
}
.bod {
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(HTMLProjectAssets/green-vegetables-on-brown-wooden-chopping-board-3952047.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.navBar {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding-bottom: 3px;
    border-bottom: 1px solid #ffffff;
    width: 90%;
    margin: 0px 5% auto 5%;
}
.navBar p {
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: left;
    margin-bottom: 0px;
}
.navBar a {
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: right;
    color: #ffffff;
    padding: 2px;
}
.links {
    display: flex;
    align-items: flex-end;
}
.titleCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
}
.titleCard h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    padding: 10px 30px 10px 30px;
    border-bottom: 1px solid #ffffff;
    margin: 20% auto 0px auto;
}
.titleCard h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    padding: 15px;
    font-weight: lighter;
    margin: 0px auto 20% auto;
}
.content1 {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    background-color: #000000;
}
.back1 {
    background-image: url(HTMLProjectAssets/human-holding-a-bread-745988.jpg);
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 450px;
}
.stuff1 {
    text-align: left;
    margin: auto 0px auto 40px;
    width: 60%;
}
.stuff1 h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    display: flex;
    justify-content: flex-start;
}
.stuff1 p {
    font-family: 'Permanent Marker', cursive;
    font-size: 23px;
    display: flex;
    justify-content: flex-start;
}
.content2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    color: #ffffff;
    background-color: #191919;
}
.stuff2 {
    text-align: left;
    margin: auto 0px auto 40px;
    width: 60%;
}
.stuff2 h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    display: flex;
    justify-content: right;
}
.stuff2 p {
    font-family: 'Permanent Marker', cursive;
    font-size: 23px;
    display: flex;
    justify-content: right;
    flex-direction: row;
}
.back2 {
    background-image: url(HTMLProjectAssets/green-pineapple-fruit-with-brown-framed-sunglasses-beside-1161547.jpg);
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 450px;
}
.content3 {
    display: flex;
    justify-content: flex-start;
    color: #ffffff;
    background-color: #393939;
}
.back3 {
    background-image: url(HTMLProjectAssets/cooked-pasta-on-brown-wooden-bowl-803963.jpg);
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 450px;
}
.stuff3 {
    text-align: left;
    margin: auto 0px auto 40px;
    width: 60%;
}
.stuff3 h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    display: flex;
    justify-content: left;
}
.stuff3 p {
    font-family: 'Permanent Marker', cursive;
    font-size: 23px;
    display: flex;
    justify-content: left;
}